p {
	font-family: Arial, Helvetica, sans-serif;
}
li {
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	color: black; background-color: black; height: 2px;
}

input {
	text-align: right;
}

h1 {
	font-size: 200%; font-family: sans-serif; font-weight: bold; text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.head  {
	font-size: 200%; font-family: sans-serif; font-weight: bold; text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.main_div {
	width: 90%; border: 1px solid black; background-color:#F5F5DC; margin: auto; padding: 8px
}

.caption {
	font-size: 80%;
	width: 60%;
	margin-left: auto; margin-right: auto;
	margin-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid black;
}

.figure {
	text-align: center;
	width: 60%;
	margin-left: auto; margin-right: auto;
	margin-bottom: 2px;
}

.math {
	display: none;
	margin-left: 4px; margin-right: 4px;
	padding-left: 6px; padding-right: 6px;
	border: 1px solid black;
	background-color: #f3e3bc;
}

@media (max-width: 450px) {
	.head {
		font-size: 120%;
	}
	
	h1 {
		font-size: 120%;
	}
	
	ul {
		margin-left: 8px;
		padding-left: 8px;
	}
	
	ol {
		margin-left: 8px;
		padding-left: 8px;
	}
	
	.caption {
		font-size: 90%;
		width: 90%;
	}
	
	.figure {
		width: 100%;
	}
}